.app-header {
    height: 80px;
    background-color: #111827;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-date {
    color: #b3c2dc;
    font-size: 0.9rem;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 24px;
}

.notification {
    position: relative;
    background-color: #1c2e57;
    padding: 12px;
    border-radius: 12px;
    font-size: 24px;

}

.notification span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 12px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    padding: 1px 4px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 52px;
    height: 52px;
    border-radius: 12px;
    background-color: #cbd5e1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

.user-name {
    margin: 0;
    font-weight: 600;
}

.user-role {
    margin: 0;
    color: #fde047;
    font-size: 12px;
}
.img-user{
    height: 100%;
    width: 100%;
    object-fit: cover;

}