.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #111827;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.navbar button{
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;
    background-color:#111827;
    color: white;

}
.navbar button:hover{
    background-color: #dc2626;
    cursor: pointer;

}
.navbar h2 {
    color: white;
}

.nav-links {
    display: flex;
    gap: 8px;

}

.nav-links a {
    color: white;
    padding: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #dc2626;
}